<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Social Network </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/estilos2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="header-right">
                <a v-if="flagLogin" href="login.html" class="button button1">Log in</a>
                <a v-if="flagLogin" href="cadastrar.html" class="button button1">Sign up</a>
                <a v-if="flagSair" :href="'user-perfil-view.html?id='+teste" class="button button1">Perfil</a>
                <button v-if="flagSair" class="button button1" type="button" @click="logout">Sair</button>
            </div>
            <a href="index.html" style="font-size: 50px; color: white; text-decoration:none;"> <b> Social Network </b></a>
        </div>

        <div class="topnav">
            <a class="active" href="index.html">Home</a>
            <a v-if="flagSair" href="catAnimes.html" class="nav-link">Animes</a>
            <a v-if="flagSair" href="catSeries.html" class="nav-link">Séries</a>
            <a v-if="flagSair" href="catFilmes.html" class="nav-link">Filmes</a>
            <a v-if="flagSair" href="catGames.html" class="nav-link">Games</a>
            <a v-if="flagSair" href="catModaGeek.html" class="nav-link">Moda Geek</a>
            <a v-if="flagSair" href="catNoticias.html" class="nav-link">Noticias</a>
            <a v-if="flagSair" href="catTecnologias.html" class="nav-link">Tecnologias</a>
            <a v-if="flagSair" href="catWorldGraphsGeek.html" class="nav-link">WorldGraphsGeek</a>
            <a v-if="flagSair" href="user-list.html" class="nav-link">Pessoas</a>
            <div v-if="flagSair" class="search-container">
                <input type="text" v-model="name" placeholder="Pesquisar assunto..." name="search">
                <button @click="persist()"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class=estrutura>
        <div class="slideshow-containerr">
            <br>
            <h1>Welcome to Social Network</h1>
            <hr>
            <h4>Description</h4>
            <p class="recuo">
                O universo Nerd é composto por diferentes áreas, como filmes, quadrinho, animes, series,
                jogos. Adotando todas as franquias criadas, por isso, teremos um acervo variado de
                tópicos discursivos para o público Nerd.
                A Social Network (SN) terá como um propósito de trazer o universo Nerd para a vida das pessoas. Queremos
                tornar este universo acessivel para todos, de um modo fácil e funcional.
            </p>

            <br />

            <div class="slideshow-containerr">
                <div class="mySlidess fade">
                    <div class="numbertext">1 / 1</div>
                    <img src="images/movies/filmes1.png" style="width:100%">
                </div>
            </div>

            <br />

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <div class="slideshow-container">
                <div class="mySlides1">
                    <img src="/images/movies/filmes1.png" style="width:100%">
                </div>

                <div class="mySlides1">
                    <img src="/img/serie1.jpg" style="width:100%">
                </div>

                <div class="mySlides1">
                    <img src="/img/serie3.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
            </div>
            
            <div class="slideshow-containerr">
                <p class="recuo">
                    A Graphs Geek terá como um propósito de trazer o universo Geek(nerd) para a vida das pessoas
                    Queremos tornar este universo acessivel para todos de um modo fácil e funcional.
                    O universo Geek é composto por diferentes veiculos, como filmes, quadrinho, animes, series,
                    jogos e
                    jogos. A Graphs Geek adota todas as franquias criadas, por isso,teremos um acervo variado de
                    tópicos
                    discursivos para diferentes perfis Geek.
                </p><br>
            </div>

            <br>
            <div class="slideshow-containerr">
                <p class="recuo">
                    A NS terá como um propósito de trazer o universo Geek(nerd) para a vida das pessoas
                    Queremos tornar este universo acessivel para todos de um modo fácil e funcional.
                    O universo Geek é composto por diferentes veiculos, como filmes, quadrinho, animes, series,
                    jogos e
                    jogos. A Graphs Geek adota todas as franquias criadas, por isso,teremos um acervo variado de
                    tópicos
                    discursivos para diferentes perfis Geek.
                </p><br>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                url: "http://localhost:8080/api/users",
                usuarios: [],
                flagSair: false,
                flagLogin: true,
                name: null,
                teste: null
            },

            created() {
                var ida = this.$session.get("id");
                this.teste = ida;
                //console.log(this.teste);

                if (this.$session.exists()) {
                    this.flagSair = true;
                    this.flagLogin = false;
                }
                vm = this;
                axios.get(this.url).then(function (r) {
                    vm.usuarios = r.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            mounted() {
                if (localStorage.name) this.name = localStorage.name;
                if (localStorage.age) this.age = localStorage.age;
            },
            methods: {
                persist() {

                    localStorage.name = this.name;
                    console.log(this.name);
                    if (!this.name || this.name == null || this.name == 'null' || this.name == '') {
                        alert('Digite um assunto que deseja buscar!');
                    }
                    else {
                        console.log('Agora finja que fiz mais coisas...');
                        window.location.replace("buscarPostagem.html");
                    }
                },
                logout() {
                    this.$session.destroy()
                    this.flagSair = false;
                    this.flagLogin = true;
                    localStorage.clear();
                    window.location.replace("index.html");
                }
            }
        });

        var slideIndex = [1, 1];
        var slideId = ["mySlides1", "mySlides2"]
        showSlides(1, 0);
        showSlides(1, 1);

        function plusSlides(n, no) {
            showSlides(slideIndex[no] += n, no);
        }

        function showSlides(n, no) {
            var i;
            var x = document.getElementsByClassName(slideId[no]);
            if (n > x.length) { slideIndex[no] = 1 }
            if (n < 1) { slideIndex[no] = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex[no] - 1].style.display = "block";
        }

        
        var slideIndexx = 0;
        showSlidess();

        function showSlidess() {
            var i;
            var slides = document.getElementsByClassName("mySlidess");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndexx++;
            if (slideIndexx > slides.length) { slideIndexx = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndexx - 1].style.display = "block";
            dots[slideIndexx - 1].className += " active";
            setTimeout(showSlidess, 2000); // Change image every 2 seconds
        }

    </script>

    <footer>
        <div class="bottom-bar">
            All Rights Reserved © 2020 | <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
        </div>
    </footer>
    
</body>

</html>