<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualizar</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue-session.js"></script>
</head>

<body>

    <div class="header">
        <a href="index.html"><img src="img/GraphsGeek.png " alt="" height="170" width="200"> </a>
        <a href="index.html" style="font-size: 95px; color: white; text-decoration:none;"> <b>GraphsGeek</b></a>
    </div>

    <div class="topnav">
        <a class="active" href="index.html">Home</a>
    </div>
    <div id="app">
        <div class="estrutura est_cadastro">
            <br>
            <br>
            <center for=""> <b style="font-size:50px">Atualizar Dados</b> </center> <br>
            <div class=container>
                <div v-if="flag">
                    <div class="form-group">
                        <label for="username">Username: </label>
                        <input class="form-control" type="text" v-model="usuario.username" :value="usuario.username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input class="form-control" type="text" v-model="usuario.password" :value="usuario.password">
                    </div>

                    <div class="form-group">
                        <label for="password">Nome: </label>
                        <input class="form-control" type="text" v-model="usuario.nomecompleto"
                            :value="usuario.nomecompleto">
                    </div>


                    <div class="form-group">
                        <label for="password">Email: </label>
                        <input class="form-control" type="text" v-model="usuario.email" :value="usuario.email">
                    </div>

                    <div class="form-group">
                        <label for="password">Endereço: </label>
                        <input class="form-control" type="text" v-model="usuario.endereco" :value="usuario.endereco">
                    </div>

                    <div class="form-group">
                        <label for="password">Cidade: </label>
                        <input class="form-control" type="text" v-model="usuario.cidade" :value="usuario.cidade">
                    </div>

                    <div class="form-group">
                        <label for="password">Estado: </label>
                        <input class="form-control" type="text" v-model="usuario.estado" :value="usuario.estado">
                    </div>

                    <div class="form-group">
                        <label for="password">Pais: </label>
                        <input class="form-control" type="text" v-model="usuario.pais" :value="usuario.pais">
                    </div>

                    <h5>Escolha uma imagem de perfil:
                        <label class="btn btn-secondary">
                            Escolher arquivo <input type="file" id="file" ref="file" name="image"
                                @change="handleFileUpload()" hidden>
                        </label><br></h5>

                    <button class="btn btn-primary" type="button" @click="checkForm()">Atualizar Dados </button>
                    <button class="btn btn-danger" type="button" @click="deleteUser">Excluir Conta</button>
                </div>
            </div>
            <br>
            <br>
            <div v-if="errors != null">
              <h3>Por favor, corrija o(s) seguinte(s) erro(s):</h3>
            </div>
            <div v-for="error in errors" class="alert">
              <strong>Erro!</strong> {{error}}.
            </div>

        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    url: "http://localhost:8080/api/users",
                    usuario: {},
                    file: null,
                    usuarios: [],
                    errors: null,
                    flagSair: false,
                    flagLogin: true,
                    flag: false
                },
                created() {
                    var currentUrl = window.location.href;
                    var id = new URL(currentUrl).searchParams.get("id");



                    if (this.$session.exists()) {
                        this.flagSair = true;
                        this.flagLogin = false;
                    }
                    vm = this;

                    axios.get(this.url).then(function (r) {
                        vm.usuarios = r.data;

                    }).catch(function (error) {
                        console.log(error);
                    });

                    vm = this;
                    axios.get(this.url + "/" + id).then(function (r) {
                        vm.usuario = r.data;
                        console.log(vm.usuario);
                        vm.flag = true;
                    }).catch(function (error) {
                        console.log(error);
                    });
                },
                methods: {
                    checkForm: function (e) {
                        this.errors = [];
                        console.log(this.errors.length);
                        if (!this.usuario.username) {
                            this.errors.push('O nome de usuário é obrigatório.');
                        }
                        if (!this.usuario.password || this.usuario.password.length < 6) {
                            this.errors.push('A senha é obrigatória e deve conter pelo menos 6 digitos!');
                        }
                        if (!this.usuario.email) {
                            this.errors.push('O e-mail é obrigatório.');
                        } else if (!this.validEmail(this.usuario.email)) {
                            this.errors.push('Utilize um e-mail válido.');
                        }
                        if (!this.usuario.nomecompleto) {
                            this.errors.push('O nome completo é obrigatório.');
                        }
                        if (!this.usuario.endereco) {
                            this.errors.push('O endereço é obrigatório.');
                        }
                        if (!this.usuario.cidade) {
                            this.errors.push('A cidade é obrigatório.');
                        }
                        if (!this.usuario.estado) {
                            this.errors.push('O estado é obrigatório.');
                        }
                        if (!this.usuario.pais) {
                            this.errors.push('O país é obrigatório.');
                        }
                        if (!this.file) {
                            this.errors.push('O arquivo de imagem é obrigatório.');
                        }

                        if (!this.errors.length) {
                            this.submit();
                            this.errors = null;
                            return true;
                        }
                        else if (this.errors.length > 0) {
                            alert('Erro! Reveja o preenchimento dos campos!');
                        }
                    },
                    validEmail: function (email) {
                        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);
                    },
                    submit() {
                        var currentUrl = window.location.href;
                        var id = new URL(currentUrl).searchParams.get("id");
                        let formData = new FormData();
                        formData.append('image', this.file);
                        formData.append('username', this.usuario.username);
                        formData.append('password', this.usuario.password);
                        formData.append('email', this.usuario.email);
                        formData.append('nomecompleto', this.usuario.nomecompleto);
                        formData.append('endereco', this.usuario.endereco);
                        formData.append('cidade', this.usuario.cidade);
                        formData.append('estado', this.usuario.estado);
                        formData.append('pais', this.usuario.pais);



                        axios.put(this.url + "/" + this.usuario.id,
                            formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }
                        ).then(function (r) {
                            console.log(r.data);
                            console.log(r.data.id);
                            alert("Dados atualizados!");
                            window.location.replace("user-perfil-view.html?id=" + r.data.id);
                        }).catch(function (error) {
                            console.log(error);
                            alert("Erro!");
                        });
                    },
                    handleFileUpload() {
                        this.file = this.$refs.file.files[0];
                    },
                    deleteUser() {
                        this.$session.destroy()

                        axios.delete(this.url + "/" + this.usuario.id).then(function (r) {
                            console.log(r);
                            window.location.replace('index.html')
                        }).catch(function (error) {
                            console.log(error);
                        });
                    },
                    logout() {
                        this.$session.destroy()
                        this.flagSair = false;
                        this.flagLogin = true;
                    }
                }
            });
        </script>
</body>

</html>